<div class="row">
  <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
  </aside>
  
  <div class="col-md-8">
    
      <%# Objective map %>
      <h3><%= @titleformap %>1</h3>
      <div style='width: 800px;'>
        <div id="gmap" style='width: 600px; height: 400px;'></div>
        <%= render 'gmap' %>
        <%#<script src="./gmap.js"></script>%>
        <%#<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>%>
      </div>

      <%# Objective map %>
      <h3><%= @titleformap %>2</h3>
      <div style='width: 800px;'>
        <div id="gmap" style='width: 600px; height: 400px;'></div>
        <script src="./gmap.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
      </div>
  
      <ol class="allusersmap">
      <%#= render partial: 'micropost', locals: { micropost: @objmicropost } %>
      </ol>

      <%# Liked user list %>
      <h3><%= @titleforlist %></h3>
      <% if @users.any? %>
        <ol class="follows">
          <% @users.each do |follow| %>
            <%= render partial: 'follows/follow', locals: { follow: follow } %>
          <% end %>
        </ol>
      <% end %>

  
  </div>