<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <p> <%= link_to "(edit user profile)" , edit_user_path(@user) %> </p>

    <div class="row">
        <%= form_for(@user) do |f| %>
          
          <%= f.label :name %>
          <p><%=@user.name %></p>
    
          <%= f.label :email %>
          <p><%=@user.email %></p>
    
          <%= f.label :password %>
          <p>**********</p>
    
          <%= f.label :profile %>
          <p><%= registrated_data_for(@user.profile)%></p>
          
          <%= f.label :birthday %>
          <p><%= registrated_data_for(@user.birthday)%></p>
    
          <%= f.label :gender %>
           <p><%= registrated_data_for(@user.gender)%></p>
    
          <%= f.label :area %>
          <p><%= registrated_data_for(@user.area)%></p>
    
        <% end %>
    </div>
  
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>

