<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
     <% if current_user == micropost.user %>
          <%= link_to "delete", micropost_path(micropost), method: :delete, data: { confirm: "You sure?" } %>
     <% end %>
    <br/> 
    <%= link_to "#{micropost.likes.count} users like this posts", liked_users_micropost_path(micropost) %>

    <%- if false -%> <%# above code is same as below, but above has much more options%>
    <a href="<%= liked_users_micropost_path(micropost) %>"> 
        <strong id="liked_posts" class="stat"> 
          <%= micropost.likes.count%> 
        </strong> 
            users like this posts 
    </a> 
    <%- end -%>
    
    <br/>
    <%= render partial: 'users/like', locals: { microposts: micropost } %>
  </span>
</li>